################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlanetDDSAPI/bin
/PlanetDDSAPI/obj/Debug
/.vs
/PlanetDDSUnitTest/bin/Debug
/PlanetDDSUnitTest/obj/Debug
/Repository/bin/Debug
/Service/bin/Debug
/packages
