################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlanetDDSAPI/bin
/PlanetDDSAPI/obj/Debug
/.vs
