<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<form style="width: 1000px" id="postForm" action="/api/visit">
    <label>Post Request</label> <br />
    <textarea style="width: 1000px; height: 500px;"></textarea> <br />
    <label for="postResponse">Post Response</label> <br />
    <textarea style="width: 1000px; height: 500px;" Id="postResponse"></textarea> <br />
    <button type="submit">Post</button>
</form>

<script>
    $(document).ready(function () {
        $("#postForm").submit(function (e) {
            var form = $(this);
            var url = form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: JSON.parse(form[0][0].value), // serializes the form's elements.
                success: function (data) {
                    $('#postResponse').val(JSON.stringify(data));
                }
            });

            e.preventDefault(); // avoid to execute the actual submit of the form.
        });
    });
</script>